/* styles.css */
.custom-select {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgba(208, 211, 214, 1);
    border-radius: 10px;
    width:510px;
    height: 35px; /* Increase the height as desired */
    padding: 4px;
    padding-right: 15px;
    padding-left: 10px;
  }
  
  .custom-select select {
    border: none;
    outline: none;
    flex: 1;
    height: 100%;
    width: 100%;
    
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* Set the custom down arrow as the background image */
  background-image: url('./../../svgs/arrowDown.js');
  background-repeat: no-repeat;
  background-position: right center;
  }
  
  .custom-select svg {
    margin-left: 8px;
    width: 12px;
    height: 12px;
    fill: black;
  }
  